* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: #0d0d0d;
  padding-bottom: 6.5rem;
}

section {
  padding: 5rem 9%;
}

.heading {
  text-align: center;
  font-size: 6vw;
  color: #fff;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.heading span {
  color: crimson;
}

/* BUTTON */
.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: crimson;
  padding: .7rem;
  font-size: 1.7rem;
  color: #fff;
  padding-left: 2rem;
}

.btn i {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 1.7rem;
  text-align: center;
  background: #fff;
  color: crimson;
  border-radius: 50%;
  margin-left: 1rem;
  transition: .2s linear;
}

.btn:hover i {
  margin-left: 2rem;
}

/* NAVBAR */
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 1000;
}

.navbar a {
  padding: 2rem;
  font-size: 2rem;
  background: #1a1a1a;
  flex: 1;
  color: #fff;
  text-align: center;
  transition: .2s linear;
}

.navbar a i {
  color: crimson;
  padding-right: .5rem;
}

.navbar a:hover {
  background: crimson;
  padding-bottom: 6rem;
}

.navbar a:hover i {
  color: #fff;
}

/* HOME */
.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  min-height: calc(100vh - 6.5rem);
}

.home .image {
  flex: 1 1 42rem;
  text-align: center;
}

.home .image img {
  height: 45rem;
  width: 45rem;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.home .content {
  flex: 1 1 42rem;
}

.home .content h3 {
  color: #fff;
  font-size: 4rem;
}

.home .content span {
  font-size: 3rem;
  color: crimson;
  display: block;
  padding: .5rem 0;
}

.home .content p {
  font-size: 1.6rem;
  color: #aaa;
  line-height: 2;
  padding: 1rem 0;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  html {
    font-size: 55%;
  }

  .navbar a span {
    display: none;
  }

  .home {
    text-align: center;
    margin-top: 8rem;
  }

  .home .image img {
    height: 30rem;
    width: 30rem;
  }
}
